DB_HOST="CREDENCIAIS_AQUI"
DB_PORT="CREDENCIAIS_AQUI"
DB_USER="CREDENCIAIS_AQUI"
DB_URL="CREDENCIAIS_AQUI"
DB_PASSWORD="CREDENCIAIS_AQUI"
DB_DATABASE="CREDENCIAIS_AQUI"
AWS_ACCESS_KEY_ID="CREDENCIAIS_AQUI"
AWS_SECRET_ACCESS_KEY="CREDENCIAIS_AQUI"
AWS_SESSION_TOKEN="CREDENCIAIS_AQUI"
AWS_REGION="CREDENCIAIS_AQUI"
AWS_BUCKET="CREDENCIAIS_AQUI"
GOOGLE_API_KEY=sua_chave_aqui